# Introducción a Python

Notas rápidas sobre el uso del Jupyter Notebook:

* Selecciona la celda y pulsa dos veces la tecla "D" para borrarla
* Selecciona la celda y pulsa una vez la tecla "C" para copiar la celda completa
* Selecciona la celda y pulsa una vez la tecla "X" para cortar la celda completa
* Selecciona la celda y pulsa una vez la tecla "V" para pegar una celda previamente copiada o cortada
* Puedes partir una celda en dos si situas el cursor sobre la linea donde quieres hacer el corte y pulsas "Ctrl + Shift + -"

## Asignación de variables
En Python, gracias al tipaje dinámico, no es necesario declarar explicitamente el tipo de una variable

### Asignación simple

In [41]:
a = 5
a

5

### Asignación múltiple

In [42]:
a, b, c, d, e, f = 5, 5.0, 6, "6", 1 + 2j, True
e

(1+2j)

Nota: Si escribes una variable u operación al final de una celda, el (Jupyter) Notebook sabe que debe desplegar/imprimir en pantalla el valor de esa variable u operación. Es una característica similar a los notebooks de Wolfram Mathematica.

## Tipos de datos básicos

### Tipo int
Números enteros

In [43]:
type(a)

int

### Tipo float
Números decimales con *precisión doble* (hasta 15 decimales de presición). Para mayor precisión se debe usar la biblioteca "decimal" o "numpy"

In [44]:
type(b)

float

### Tipo string
Cadenas de carácteres de texto

In [45]:
type(d)

str

### Tipo complex
Números complejos

In [46]:
type(e)

complex

### Tipo bool
Variables boleanas, solo pueden tomar el valor "True" o "False". Importante notar que ambos se escriben con mayúscula en Python.

In [47]:
type(f)

bool

### Comparación lógica de datos

In [48]:
a == b

True

Aquí, aunque "a" es un int y "b" un float, la comparación de igualdad devuelve "True" ya que ambas variables numéricamente son iguales

In [49]:
type(a) == type(b)

False

In [50]:
a == c

False

In [51]:
type(a) == type(c)

True

In [52]:
type(d)

str

In [53]:
c == d

False

In [54]:
type(e)

complex

In [55]:
e + a

(6+2j)

In [56]:
e + b

(6+2j)

In [57]:
e - a

(-4+2j)

In [58]:
e - b

(-4+2j)

In [59]:
a.is_integer()

True

In [60]:
b = 5.5

In [61]:
b.is_integer()

False

In [62]:
texto = "Zorros hoy, Zorros siempre"
texto

'Zorros hoy, Zorros siempre'

In [63]:
texto.capitalize().upper()

'ZORROS HOY, ZORROS SIEMPRE'

In [64]:
texto.count("o")

5

In [65]:
type(texto.split(","))

list

In [66]:
lista = ["a", a, b, b, c, d, [a], "e", "z", e]
lista

['a', 5, 5.5, 5.5, 6, '6', [5], 'e', 'z', (1+2j)]

In [67]:
tupla = ("a", b, c)
tupla

('a', 5.5, 6)

In [68]:
lista[2]

5.5

In [69]:
tupla[2]

6

In [70]:
lista[2] = 10
lista

['a', 5, 10, 5.5, 6, '6', [5], 'e', 'z', (1+2j)]

In [71]:
conjunto = {2, 2, 2, 2, 3, 5, 10, 8, 0, 10}
conjunto

{0, 2, 3, 5, 8, 10}

In [72]:
diccionario = {"a" : 1, "b" : 2, "c" : 3, "d" : 8000}
diccionario

{'a': 1, 'b': 2, 'c': 3, 'd': 8000}

In [73]:
diccionario["a"]

1

In [74]:
diccionario["a"] = 9
diccionario

{'a': 9, 'b': 2, 'c': 3, 'd': 8000}

In [75]:
lista.append(1000)
lista

['a', 5, 10, 5.5, 6, '6', [5], 'e', 'z', (1+2j), 1000]

In [76]:
tupla = ("a", b, c, c, "b", "c", "c", "c")
tupla

('a', 5.5, 6, 6, 'b', 'c', 'c', 'c')

In [77]:
tupla.count("c")

3

In [78]:
type(diccionario.keys())

dict_keys

## Caida libre
$$y = h - \frac{1}{2} g t^2$$

$$t = \sqrt{\frac{2 (h - y)}{g}}$$

In [79]:
def tiempo_caida(y, h):
    g = 9.81
    if y < 0:
        return "Error"
    elif y > h:
        return "Error"
    else:
        return (2 * (h - y) / g) ** 0.5

In [80]:
lista_h = [200, 300, 400, 50]
lista_y = [20, 30, 40, 5, 0]

resultados = dict()
for h in lista_h:
    for y in lista_y:
        t = tiempo_caida(y, h)
        print(f"Altura inicial: {h}m., tiempo a la altura {y}m. : {t} s.")
        resultados[(h, y)] = t

Altura inicial: 200m., tiempo a la altura 20m. : 6.057825328153827 s.
Altura inicial: 200m., tiempo a la altura 30m. : 5.887148012640068 s.
Altura inicial: 200m., tiempo a la altura 40m. : 5.711372491708258 s.
Altura inicial: 200m., tiempo a la altura 5m. : 6.305184508161295 s.
Altura inicial: 200m., tiempo a la altura 0m. : 6.385508568141009 s.
Altura inicial: 300m., tiempo a la altura 20m. : 7.55543562895768 s.
Altura inicial: 300m., tiempo a la altura 30m. : 7.419290502442469 s.
Altura inicial: 300m., tiempo a la altura 40m. : 7.2805999461543625 s.
Altura inicial: 300m., tiempo a la altura 5m. : 7.755173210113253 s.
Altura inicial: 300m., tiempo a la altura 0m. : 7.820618870057751 s.
Altura inicial: 400m., tiempo a la altura 20m. : 8.80181614101455 s.
Altura inicial: 400m., tiempo a la altura 30m. : 8.685230647284742 s.
Altura inicial: 400m., tiempo a la altura 40m. : 8.567058737562387 s.
Altura inicial: 400m., tiempo a la altura 5m. : 8.973854877128304 s.
Altura inicial: 400m., tiempo a la altura 0m. : 9.030472819714618 s.
Altura inicial: 50m., tiempo a la altura 20m. : 2.4730968341474897 s.
Altura inicial: 50m., tiempo a la altura 30m. : 2.019275109384609 s.
Altura inicial: 50m., tiempo a la altura 40m. : 1.4278431229270645 s.
Altura inicial: 50m., tiempo a la altura 5m. : 3.0289126640769135 s.
Altura inicial: 50m., tiempo a la altura 0m. : 3.1927542840705043 s.

In [81]:
resultados

{(200, 20): 6.057825328153827,
 (200, 30): 5.887148012640068,
 (200, 40): 5.711372491708258,
 (200, 5): 6.305184508161295,
 (200, 0): 6.385508568141009,
 (300, 20): 7.55543562895768,
 (300, 30): 7.419290502442469,
 (300, 40): 7.2805999461543625,
 (300, 5): 7.755173210113253,
 (300, 0): 7.820618870057751,
 (400, 20): 8.80181614101455,
 (400, 30): 8.685230647284742,
 (400, 40): 8.567058737562387,
 (400, 5): 8.973854877128304,
 (400, 0): 9.030472819714618,
 (50, 20): 2.4730968341474897,
 (50, 30): 2.019275109384609,
 (50, 40): 1.4278431229270645,
 (50, 5): 3.0289126640769135,
 (50, 0): 3.1927542840705043}

Metodo de busqueda binaria