# Introducción a Python

## Asignación de variables
En Python, gracias al tipaje dinámico, no es necesario declarar explicitamente el tipo de una variable

### Asignación simple

In [161]:
a = 5

### Asignación múltiple

In [162]:
a, b, c, d, e = 5, 5.0, 6, "6", 1 + 2j

### Tipo int
Números enteros

In [163]:
type(a)

int

### Tipo float
Números decimales con *precisión doble* (hasta 15 decimales de presición)

In [164]:
type(b)

float

### Tipo string
Cadenas de carácteres de texto

In [165]:
type(d)

str

### Tipo complex
Números complejos

In [166]:
type(e)

complex

In [167]:
a == b

True

In [168]:
type(a) == type(b)

False

In [169]:
a == c

False

In [170]:
type(a) == type(c)

True

In [171]:
type(d)

str

In [172]:
c == d

False

In [173]:
type(e)

complex

In [174]:
e + a

(6+2j)

In [175]:
e + b

(6+2j)

In [176]:
e - a

(-4+2j)

In [177]:
e - b

(-4+2j)

In [178]:
a.is_integer()

True

In [179]:
b = 5.5

In [180]:
b.is_integer()

False

In [181]:
texto = "Zorros hoy, Zorros siempre"
texto

'Zorros hoy, Zorros siempre'

In [182]:
texto.capitalize().upper()

'ZORROS HOY, ZORROS SIEMPRE'

In [183]:
texto.count("o")

5

In [184]:
type(texto.split(","))

list

In [185]:
lista = ["a", a, b, b, c, d, [a], "e", "z", e]
lista

['a', 5, 5.5, 5.5, 6, '6', [5], 'e', 'z', (1+2j)]

In [186]:
tupla = ("a", b, c)
tupla

('a', 5.5, 6)

In [187]:
lista[2]

5.5

In [188]:
tupla[2]

6

In [189]:
lista[2] = 10
lista

['a', 5, 10, 5.5, 6, '6', [5], 'e', 'z', (1+2j)]

In [190]:
conjunto = {2, 2, 2, 2, 3, 5, 10, 8, 0, 10}
conjunto

{0, 2, 3, 5, 8, 10}

In [191]:
diccionario = {"a" : 1, "b" : 2, "c" : 3, "d" : 8000}
diccionario

{'a': 1, 'b': 2, 'c': 3, 'd': 8000}

In [192]:
diccionario["a"]

1

In [193]:
diccionario["a"] = 9
diccionario

{'a': 9, 'b': 2, 'c': 3, 'd': 8000}

In [194]:
lista.append(1000)
lista

['a', 5, 10, 5.5, 6, '6', [5], 'e', 'z', (1+2j), 1000]

In [195]:
tupla = ("a", b, c, c, "b", "c", "c", "c")
tupla

('a', 5.5, 6, 6, 'b', 'c', 'c', 'c')

In [196]:
tupla.count("c")

3

In [197]:
type(diccionario.keys())

dict_keys

## Caida libre
$$y = h - \frac{1}{2} g t^2$$

$$t = \sqrt{\frac{2 (h - y)}{g}}$$

In [198]:
def tiempo_caida(y, h):
    g = 9.81
    return (2 * (h - y) / g) ** 0.5

In [199]:
lista_h = [20, 30, 40, 5]
lista_y = [20, 30, 40, 5]

for h in lista_h:
    for y in lista_y:
        print(f"Altura inicial: {h}m., tiempo a la altura {y}m. : {tiempo_caida(y, h)} s.")

Altura inicial: 20m., tiempo a la altura 20m. : 0.0 s.
Altura inicial: 20m., tiempo a la altura 30m. : (8.743017550885951e-17+1.4278431229270645j) s.
Altura inicial: 20m., tiempo a la altura 40m. : (1.2364493996528913e-16+2.019275109384609j) s.
Altura inicial: 20m., tiempo a la altura 5m. : 1.7487435419566724 s.
Altura inicial: 30m., tiempo a la altura 20m. : 1.4278431229270645 s.
Altura inicial: 30m., tiempo a la altura 30m. : 0.0 s.
Altura inicial: 30m., tiempo a la altura 40m. : (8.743017550885951e-17+1.4278431229270645j) s.
Altura inicial: 30m., tiempo a la altura 5m. : 2.2576182049286544 s.
Altura inicial: 40m., tiempo a la altura 20m. : 2.019275109384609 s.
Altura inicial: 40m., tiempo a la altura 30m. : 1.4278431229270645 s.
Altura inicial: 40m., tiempo a la altura 40m. : 0.0 s.
Altura inicial: 40m., tiempo a la altura 5m. : 2.671249884027212 s.
Altura inicial: 5m., tiempo a la altura 20m. : (1.070796590593422e-16+1.7487435419566724j) s.
Altura inicial: 5m., tiempo a la altura 30m. : (1.382392454181335e-16+2.2576182049286544j) s.
Altura inicial: 5m., tiempo a la altura 40m. : (1.6356688100983318e-16+2.671249884027212j) s.
Altura inicial: 5m., tiempo a la altura 5m. : 0.0 s.