# Introducción a Python

Notas rápidas sobre el uso del Jupyter Notebook:

* Selecciona la celda y pulsa dos veces la tecla "D" para borrarla
* Selecciona la celda y pulsa una vez la tecla "C" para copiar la celda completa
* Selecciona la celda y pulsa una vez la tecla "X" para cortar la celda completa
* Selecciona la celda y pulsa una vez la tecla "V" para pegar una celda previamente copiada o cortada
* Puedes partir una celda en dos si situas el cursor sobre la linea donde quieres hacer el corte y pulsas "Ctrl + Shift + -"

## Asignación de variables
En Python, gracias al tipaje dinámico, no es necesario declarar explicitamente el tipo de una variable

### Asignación simple

In [553]:
a = 5
a

5

### Asignación múltiple

In [554]:
a, b, c, d, e, f = 5, 5.0, 6, "6", 1 + 2j, True
e

(1+2j)

Nota: Si escribes una variable u operación al final de una celda, el (Jupyter) Notebook sabe que debe desplegar/imprimir en pantalla el valor de esa variable u operación. Es una característica similar a los notebooks de Wolfram Mathematica.

## Tipos de datos básicos

### Tipo int
Números enteros

In [555]:
type(a)

int

### Tipo float
Números decimales con *precisión doble* (hasta 15 decimales de presición). Para mayor precisión se debe usar la biblioteca "decimal" o "numpy"

In [556]:
type(b)

float

### Tipo string
Cadenas de carácteres de texto

In [557]:
type(d)

str

### Tipo complex
Números complejos

In [558]:
type(e)

complex

### Tipo bool
Variables boleanas, solo pueden tomar el valor "True" o "False". Importante notar que ambos se escriben con mayúscula en Python.

In [559]:
type(f)

bool

### Comparación lógica de datos

In [560]:
a == b

True

Aquí, aunque "a" es un int y "b" un float, la comparación de igualdad devuelve "True" ya que ambas variables numéricamente son iguales

In [561]:
type(a) == type(b)

False

In [562]:
a == c

False

In [563]:
type(a) == type(c)

True

In [564]:
type(d)

str

In [565]:
c == d

False

In [566]:
type(e)

complex

In [567]:
e + a

(6+2j)

In [568]:
e + b

(6+2j)

In [569]:
e - a

(-4+2j)

In [570]:
e - b

(-4+2j)

In [571]:
a.is_integer()

True

In [572]:
b = 5.5

In [573]:
b.is_integer()

False

In [574]:
texto = "Zorros hoy, Zorros siempre"
texto

'Zorros hoy, Zorros siempre'

In [575]:
texto.capitalize().upper()

'ZORROS HOY, ZORROS SIEMPRE'

In [576]:
texto.count("o")

5

In [577]:
type(texto.split(","))

list

In [578]:
lista = ["a", a, b, b, c, d, [a], "e", "z", e]
lista

['a', 5, 5.5, 5.5, 6, '6', [5], 'e', 'z', (1+2j)]

In [579]:
tupla = ("a", b, c)
tupla

('a', 5.5, 6)

In [580]:
lista[2]

5.5

In [581]:
tupla[2]

6

In [582]:
lista[2] = 10
lista

['a', 5, 10, 5.5, 6, '6', [5], 'e', 'z', (1+2j)]

In [583]:
conjunto = {2, 2, 2, 2, 3, 5, 10, 8, 0, 10}
conjunto

{0, 2, 3, 5, 8, 10}

In [584]:
diccionario = {"a" : 1, "b" : 2, "c" : 3, "d" : 8000}
diccionario

{'a': 1, 'b': 2, 'c': 3, 'd': 8000}

In [585]:
diccionario["a"]

1

In [586]:
diccionario["a"] = 9
diccionario

{'a': 9, 'b': 2, 'c': 3, 'd': 8000}

In [587]:
lista.append(1000)
lista

['a', 5, 10, 5.5, 6, '6', [5], 'e', 'z', (1+2j), 1000]

In [588]:
tupla = ("a", b, c, c, "b", "c", "c", "c")
tupla

('a', 5.5, 6, 6, 'b', 'c', 'c', 'c')

In [589]:
tupla.count("c")

3

In [590]:
type(diccionario.keys())

dict_keys

## Caida libre
$$y = h - \frac{1}{2} g t^2$$

$$t = \sqrt{\frac{2 (h - y)}{g}}$$

In [591]:
def tiempo_caida(y, h):
    g = 9.81
    if y < 0:
        return "Error"
    elif y > h:
        return "Error"
    else:
        return (2 * (h - y) / g) ** 0.5

In [592]:
lista_h = [200, 300, 400, 50]
lista_y = [20, 30, 40, 5, 0]

resultados = dict()
for h in lista_h:
    for y in lista_y:
        t = tiempo_caida(y, h)
        print(f"Altura inicial: {h}m., tiempo a la altura {y}m. : {t} s.")
        resultados[(h, y)] = t

Altura inicial: 200m., tiempo a la altura 20m. : 6.057825328153827 s.
Altura inicial: 200m., tiempo a la altura 30m. : 5.887148012640068 s.
Altura inicial: 200m., tiempo a la altura 40m. : 5.711372491708258 s.
Altura inicial: 200m., tiempo a la altura 5m. : 6.305184508161295 s.
Altura inicial: 200m., tiempo a la altura 0m. : 6.385508568141009 s.
Altura inicial: 300m., tiempo a la altura 20m. : 7.55543562895768 s.
Altura inicial: 300m., tiempo a la altura 30m. : 7.419290502442469 s.
Altura inicial: 300m., tiempo a la altura 40m. : 7.2805999461543625 s.
Altura inicial: 300m., tiempo a la altura 5m. : 7.755173210113253 s.
Altura inicial: 300m., tiempo a la altura 0m. : 7.820618870057751 s.
Altura inicial: 400m., tiempo a la altura 20m. : 8.80181614101455 s.
Altura inicial: 400m., tiempo a la altura 30m. : 8.685230647284742 s.
Altura inicial: 400m., tiempo a la altura 40m. : 8.567058737562387 s.
Altura inicial: 400m., tiempo a la altura 5m. : 8.973854877128304 s.
Altura inicial: 400m., tiempo a la altura 0m. : 9.030472819714618 s.
Altura inicial: 50m., tiempo a la altura 20m. : 2.4730968341474897 s.
Altura inicial: 50m., tiempo a la altura 30m. : 2.019275109384609 s.
Altura inicial: 50m., tiempo a la altura 40m. : 1.4278431229270645 s.
Altura inicial: 50m., tiempo a la altura 5m. : 3.0289126640769135 s.
Altura inicial: 50m., tiempo a la altura 0m. : 3.1927542840705043 s.

In [593]:
resultados

{(200, 20): 6.057825328153827,
 (200, 30): 5.887148012640068,
 (200, 40): 5.711372491708258,
 (200, 5): 6.305184508161295,
 (200, 0): 6.385508568141009,
 (300, 20): 7.55543562895768,
 (300, 30): 7.419290502442469,
 (300, 40): 7.2805999461543625,
 (300, 5): 7.755173210113253,
 (300, 0): 7.820618870057751,
 (400, 20): 8.80181614101455,
 (400, 30): 8.685230647284742,
 (400, 40): 8.567058737562387,
 (400, 5): 8.973854877128304,
 (400, 0): 9.030472819714618,
 (50, 20): 2.4730968341474897,
 (50, 30): 2.019275109384609,
 (50, 40): 1.4278431229270645,
 (50, 5): 3.0289126640769135,
 (50, 0): 3.1927542840705043}

In [594]:
def tiempo_caida2(y, h):
    g = 9.81
    if y < 0 or y > h:
        return "Error"
    return (2 * (h - y) / g) ** 0.5

In [595]:
True and True

True

In [596]:
True and False

False

In [597]:
False and False

False

In [598]:
False and True

False

In [599]:
True or True

True

In [600]:
True or False

True

In [601]:
False or True

True

In [602]:
False or False

False

In [603]:
True and not False

True

In [604]:
True and not True

False

In [605]:
not (True or False)

False

In [606]:
p = 6 < 0
p

False

In [607]:
if not (not p):
    print(p)

In [608]:
def num_pares(n):
    lista_pares = []
    for i in range(n + 1):
        if i % 2 == 0:
            lista_pares.append(i)
    return lista_pares

In [609]:
num_pares(21)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [610]:
def num_pares2(n):
    return tuple(i for i in range(n + 1) if i % 2 == 0)

In [611]:
def num_pares3(n):
    return {n : i for n, i in enumerate(range(n + 1)) if i % 2 == 0}

In [612]:
def num_pares4(n):
    return {n : i for n, i in enumerate([i for i in range(n + 1) if i % 2 == 0])}

In [613]:
num_pares4(21)

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20}

In [614]:
def factorial(n):
    if n == 1 or n == 0:
        return 1
    return n * factorial(n - 1)

In [615]:
factorial(10000)

RecursionError: maximum recursion depth exceeded

In [ ]:
def producto(a, b):
    if b > a:
        a, b = b, a
    if b == 1:
        return a
    if b == 0:
        return 0
    return a + producto(a, b - 1)

In [616]:
producto(10, 90)

900

In [617]:
def division(a, b):
    if a < b:
        return 0
    if a == b:
        return 1
    return 1 + division(a - b, b)

In [626]:
division(64, 4)

16